#newsitem{
    color:black;
    box-shadow:0 0.03rem 2rem rgba(102, 122 , 215);
}
@media (min-width: 1000px) {
  #newsitem{
    width:21rem;
    height:31rem
  }
}
@media (min-width: 770px) and (max-width: 1000px) {
  #newsitem{
    /* width:15rem; */
    height:35rem;
  }
}